/* @import url('https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple'); */

header{

    /* background-image:url(../images/; */

    background-attachment: fixed;

    background-position: center;

    background-repeat: no-repeat;

    background-size: cover;

    height: 60vh;

}

.navbar-nav .nav-item .nav-link{

    color: #ffffff;

    font-size: 1.5em;

}

.navbar-nav .nav-item .nav-link:hover{

    color: #ffffff;

    font-weight: 800;

}



.navbar-toggler-icon {

    background-color: #ffffff;

    color: #ffffff;

    height: 2em;

    width: 2em;

}


h3 {

    font-size: 2em;

    text-align: center;

}


h5 {

    font-size: 1em;

    text-align: center;

}

.recipe-heading{

    color: #42cef8;

    font-weight: 600;


}



.modal-header h4{

    color: #ffffff;

    font-weight: 600;

    

}



.modal-header{

    background-color: #003f5c;

}


/* style for select elements */



.form-inline .row {

    margin: 0;

    margin-bottom: 3em;

    width: 100%;

}



.form-control{

    border-color: #003f5c;

    color: #2f4b7c;

    margin: 0 auto;

    width: 100%;

}



#recipe_method{

    border-color: #003f5c;

    color: #2f4b7c;

    margin: 0 auto;

    width: 100%;

}

footer {

    height: 150px;

    max-width: 150vw;

    padding: 2em 1em;

}



footer a,

footer a:hover {

    color: #2adad1;

}



.icon{

    font-size: 2em;

    margin: 0.1em;

    text-align: center;
}


.details-col{

    padding: 2em 1em;

}
/* Form Styles */



label {

    font-size: 1em;

}

.collapse{

    width: 90%;

    margin: 0 5%;

}


/*****************************Media queries*/



@media screen and (min-width: 768px) {

    header{

        height: 10h;

    }
    
    .collapse{

        width: 90%;

        margin: 0 5%;

    }


}


@media screen and (min-width: 992px) {

    header{

        height: 10vh;

    }

    
    h1{

        font-size: 2em;

    }


    
    label {

        font-size: 1.5em;

    }


}