@import url('https://fonts.googleapis.com/css?family=Righteous');



header{

    background-image:url(../images/pestal.jpg);

    background-attachment: fixed;

    background-position: center;

    background-repeat: no-repeat;

    background-size: cover;

    height: 60vh;

}

/****************************************nav styles*/



.navbar-nav .nav-item .nav-link{

    color: #ffffff;

    font-size: 1.5em;

}

.navbar-nav .nav-item .nav-link:hover{

    color: #ffffff;

    font-weight: 800;

}



.navbar-toggler-icon {

    background-color: #ffffff;

    color: #ffffff;

    height: 2em;

    width: 2em;

}



/***********************************heading styles*/



h1 {

    color: #ffffff;

    font-size: 4em;

    font-weight: 800;

    margin: 5% auto;

    padding: 5%;

    text-align: center;

}



h2 {

    color: #003f5c;

    font-size: 3em;

    font-weight: 700;

    text-align: center;

}



h3 {

    font-size: 2em;

    text-align: center;

}

h4{

    color: #003f5c;

    font-size: 1.25em;

    text-align: center;

}



h5 {

    font-size: 1em;

    text-align: center;

}

.recipe-heading{

    color: #444e86;

    font-weight: 800;

    font-variant: small-caps;

}



.modal-header h4{

    color: #ffffff;

    font-variant: small-caps;

    font-weight: 800;

    

}



.modal-header{

    background-color: #003f5c;

}





/***********************************button styles*/



.btn-primary {

    color: #ffffff !important;

    display: block;

    margin: 1em auto;

    width: 60%;

}



.btn-allergen,

.btn-allergen:hover,

.btn-allergen:focus,

.btn-allergen:active,

.btn-allergen:active:focus{

    background-color: #ffffff;

    border-color: grey;

    color: #003f5c;

    height: 36px;

    width: 100%;

}



.btn-filter,

.btn.btn-filter:hover{

    background-color: #2f4b7c;

}



.btn-back,

.btn-back:hover,

.btn-back:focus,

.btn-back:active,

.btn-back:active:focus{

    background-color: #ffffff;

    border: 1px solid #665191;

    margin-top: 1em;

    margin-bottom: 2em;

    width: 100%;

}



.btn-add,

.btn-edit,

.btn-add:hover,

.btn-edit:hover,

.btn-add:focus,

.btn-edit:focus,

.btn-add:active,

.btn-edit:active,

.btn-add:active:focus,

.btn-edit:active:focus{

    background-color: #f95d6a;

    border: 1px solid #f95d6a;

}



.btn-delete, 

.btn-delete:hover,

.btn-delete:focus,

.btn-delete:active,

.btn-delete:active:focus{

    background-color: #ff7c43 !important;

    border: 1px solid #ff7c43;

}



.btn-cancel, 

.btn-cancel:active,

.btn-cancel:active:focus

.btn-cancel:focus,

.btn-cancel:hover{

    background-color: #a05195;

    border: 1px solid #a05195;

}



.btn-ingredient{

    margin-top: 5px;

}



.btn-okay,

.btn-okay:hover,

.btn-okay:focus,

.btn-okay:active,

.btn-okay:active:focus{

    background-color: #dd5182;

    border: 1px solid #dd5182;

}



.close,

.close:active,

.close:active:focus,

.close:focus,

.close:hover{

    color: #ffffff;

    font-weight: bolder;

}



.dropdown-filters,

.dropdown-filters:active,

.dropdown-filters:active:focus,

.dropdown-filters:focus,

.dropdown-filters:hover{

    background-color: #ffffff;

    border-color: grey;

    color: #003f5c;

    height: 36px;

    width: 90%;

    margin: 0 5%;

}

/*******************************browse recipe page*/



.collapse{

    width: 90%;

    margin: 0 5%;

}

.no-results{

    color: #003f5c;

    font-size: 1.5em;

    padding: 2em 1em;

}



.filter-label{

    width: 90%;

    margin: 1% 5%;

}



/**************************style for recipe cards*/



.loop-item {

    display: inline-block;

    margin-bottom: 40px;

    min-height: 500px;

}



.loop-item a:hover{

    text-decoration: none;

}



.card {

    color: #444e86;

    margin-top: 20px;

    min-height: 500px;

}



.card-img-top {

    height: 200px;

    margin: 0 auto;

}



.card-title{

   font-family: 'Righteous', cursive;

   font-size: 1.5em;

   font-variant: small-caps;

   font-weight: 800;

}



.card-details{

    text-align: center;

    font-variant: small-caps;

}



/*************************style for select elements*/



.form-inline .row {

    margin: 0;

    margin-bottom: 3em;

    width: 100%;

}



.form-control{

    border-color: #003f5c;

    color: #2f4b7c;

    margin: 0 auto;

    width: 100%;

}



.form-control::placeholder{

    color: #C0C0C0;

}



label{

    color: #ffa600;

}



.ingredient{

    margin: 5px 0;

}



/*******************styles for Display Recipe Page*/



.recipe-container{

    padding: 2em 0;

}



img {

    margin: 2em auto 0 auto;

    width: 100%;

}



.details-col{

    padding: 2em 1em;

}



.recipe-info{

    color: #dd5182;

    font-size: 1.5em;

    text-align: center;

}

.recipe-row{

    padding-bottom: 2em;

}



.recipe_ingredient {

    padding-top: 0.5em;

}



ul li {

    list-style: none;

}



.modal-paragraph{

    color: #f1f1f1;

    font-size: 20px;

    width: 60%;

    margin: 0 auto;

    padding: 1rem;

    font-weight: bold;

}



/********************************Form styles*/



label {

    font-size: 1em;

}



.form-check-input{

    position: relative;

    font-size: 1.25em;

}

/************************************Footer*/



footer {

    height: 150px;

    max-width: 100vw;

    padding: 2em 1em;

}





footer a,

footer a:hover,

footer a:focus,

footer a:active,

footer a:visited {

    color: #665191;

}



.icon{

    font-size: 3em;

    margin: 0.3em;

    text-align: center;

}

/*****************************Media queries*/



@media screen and (min-width: 768px) {

    header{

        height: 40vh;

    }

    

    .loop-item {

        display: inline-block;

        min-height: 440px;

        width: 45%;

    }

    

    .collapse{

        width: 90%;

        margin: 0 5%;

    }

    

    .dropdown-filters,

    .dropdown-filters:active,

    .dropdown-filters:active:focus,

    .dropdown-filters:focus,

    .dropdown-filters:hover{

        width: 100%;

        margin: 0 auto;

    }

    

    .filter-label{

        width: 90%;

        margin: 1% 5%;

    }

    

}



@media screen and (min-width: 992px) {

    header{

        height: 60vh;

    }

    

    h1{

        font-size: 5em;

    }

    

    .loop-item {

        display: inline-block;

        width: 33%;

    }

    

    .btn-allergen{

        width: 100%;

    }

    

    label {

        font-size: 1.5em;

    }

    

    .dropdown-filters,

    .dropdown-filters:active,

    .dropdown-filters:active:focus,

    .dropdown-filters:focus,

    .dropdown-filters:hover{

        width: 100%;

        margin: 0 0.75em;

    }

    

}