{% extends 'base.html' %}
{% block content %}

<h3>Edit Recipe</h3>

<form action="{{ url_for('update_recipe', recipe_id=recipe._id)}}" method="POST" class="edit-recipe">
	<div class="form-row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<label for="recipe_name">Recipe Name </label>
			<input type="text" class="form-control" name="recipe_name" id="recipe_name" value="{{recipe.name}}" required/>
            </div>
			<div class="col-sm-12 col-md-12 col-lg-12">
				<label for="recipe_description">Description </label>
				<input type="text" class="form-control" name="recipe_description" id="recipe_description" value="{{recipe.description}}" required/>
            </div>
            </div>
			<div class="form-row">
				<div class="col s4">
					<div class="form-group">
						<!--dynamically populates the select menu with difficulty type-->
						<i class="material-icons prefix">priority_high</i>
						<label for="types">Dish type </label>
						<select class="form-control validate" name="types" id="types" required>
                                <option disabled selected>Please choose...</option>
                                            {% for type in types %}
                                                <option value="{{type.types}}">{{ type.types }}</option>
                                            {% endfor %}
                            </select>
					</div>
				</div>
				<div class="col s4">
					<div class="form-group">
						<!--dynamically populates the select menu with difficulty type-->
						<i class="material-icons prefix">priority_high</i>
						<label for="difficulty">Difficulty</label>
				        <select class="form-control validate" name="difficulty" id="difficulty" required>
                            <option disabled selected>Please choose...</option>
                            {% for difficult in difficulty %}
                                <option value="{{difficult.difficulty}}">{{ difficult.difficulty }}</option>
                            {% endfor %}
                        </select>
					</div>
				</div>
			</div>
			<div class="input-field col s4">
				<i class="material-icons prefix">access_time</i>
				<input name="recipe_time" id="recipe_time" type="text" class="validate" value="{{recipe.time}}" required/>
				<label for="recipe_time">Cooks in...</label>
			</div>
			<div class="row" id="ingredients-row">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<i class="material-icons prefix">list</i>
					<label for="ingredients" value="{{ingredient}}">Ingredients</label>
					<input type="text" class="form-control ingredients" name="ingredients" placeholder="3 eggs" minlength=6 required/>
					<input type="text" class="form-control ingredients" name="ingredients" placeholder="3 eggs" minlength=6 required/>
					<input type="text" class="form-control ingredients" name="ingredients" placeholder="3 eggs" minlength=6 required/>
					<button type="button" class="new-input-btn btn-ingredients">Add ingredient</button>
					<button type="button" class="remove-input-btn btn-ingredients">Remove ingredient</button>
				</div>
			</div>
			<div class="form-row">
				<div class="row details-col">
					<div class="input-field">
						<textarea id="recipe_method" name="recipe_method"  data-length="2000">{{recipe.method}}</textarea>
						<label for="recipe_method">Method</label>
					</div>
				</div>
			</div>
			<div class="form-row">
				<div class="row details-col">
					<div class="input-field">
						<i class="material-icons prefix">format_quote</i>
						<textarea id="recipe_tips" name="recipe_tips" data-length="1000" >{{recipe.tips}}</textarea>
						<label for="recipe_tips">Tips</label>
					</div>
				</div>
			</div>
			<div class="form-row">
				<!-- button to submit updated recipe to database -->
				<div class="col-sm-12 col-md-6 offset-lg-3 col-lg-3">
					<button class="btn btn-primary btn-add" type="submit" name="action">Save Changes</button>
				</div>
				<!-- cancel button -->
				<div class="col-sm-12 col-md-6 col-lg-3">
					<a class="btn btn-primary btn-cancel" onclick="history.go(-1)">Cancel</a>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-3">
					{% if recipe_count > 4 %}
					<a class="btn btn-primary btn-delete" role="button" data-toggle="modal"
						data-target="#deleteRecipe">Delete Recipe </a>
					{% else %}
					<a class="btn btn-primary btn-delete" role="button" data-toggle="modal"
						data-target="#notEnoughRecipe">Delete Recipe </a>
					{% endif %}
				</div>

			</div>
		</div>


		<div class="modal fade" id="deleteRecipe" tabindex="-1" role="dialog" aria-labelledby="deleteRecipeLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4>Are you sure you want to delete this recipe? </h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span></button>
					</div>
					<div class="modal-body">
						<h4 class="modal-title" id="deleteRecipeLabel">{{recipe.name}}</h4>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary btn-cancel" data-dismiss="modal">Cancel </button>
						<a role="button" href="{{url_for('delete_recipe', recipe_id=recipe._id)}}"
							class="btn btn-primary btn-delete">Yes, delete this recipe</a>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="notEnoughRecipe" tabindex="-1" role="dialog" aria-labelledby="notEnoughRecipeLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<p class="modal-paragraph">There needs to be at least 4 recipes at all time<br>
                    Please add a recipe before deleting one.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary btn-okay" data-dismiss="modal">Okay </button>
					</div>
				</div>
			</div>
        </div>
</form>

{% endblock %}